<p>hello</p>

 <p>
    <strong>Image:</strong>
    <%= vehicle.image %>
  </p>

  <p>
    <strong>Drive fee:</strong>
    <%= vehicle.drive_fee %>
  </p>

  <p>
    <strong>Purchase fee:</strong>
    <%= vehicle.purchase_fee %>
    <p>