<p style="color: green"><%= notice %></p>

<h1>Vehicles</h1>

<div id="vehicles">
  <% @vehicles.each do |vehicle| %>
  <%= vehicle.name %>
    <%= render partial: "vehicles/theme", locals: { vehicle: vehicle } %> 
  <% end %>
</div>
