<main class="wrapper">
  <p class="notice">
  <%#! <%= notice %> 
  HEADER MARKER TEXT
  </p>
  <section class="menu">
      <%= render "partials/nav" %>
  </section>

  <section class="content">
    <h1>Latest models</h1>
    <%# The area in which the car cards are dispaying %>
      <div> 
        <% @vehicles.each do |vehicle| %>
          <%= render partial: "vehicles/theme", locals: { vehicle: vehicle } %>
        <% end %>
      </div>
  </section>
</main>
