<main>
  <p class="notice"><%= notice %></p>

  <div>
      <%= render "partials/nav" %>
  </div>

  <div class="vehicles">
    <h1>Latest models</h1>
    <div>
      <% @vehicles.each do |vehicle| %>
          <%= render partial: "vehicles/theme", locals: { vehicle: vehicle } %>
      <% end %>
    </div>
  </div>

</main>
