<p style="color: green"><%= notice %></p>

<h1>Vehicles</h1>
<div>
  <%= render "partials/nav" %>
</div>

<div id="vehicles">
  <% @vehicles.each do |vehicle| %>
    <%= render vehicle %>
    <%= render "vehicles/theme" %>
  <% end %>
</div>

