<main class="wrapper">
  <p class="notice">
  <%#! <%= notice %> 
  HEADER MARKER TEXT
  </p>
  <section class="menu">
      <%= render "partials/nav" %>
  </section>

  <section class="content slider-container">
    <h1>Latest models</h1>
      <article>
        <% @vehicles.each do |vehicle| %>
          <%= render partial: "vehicles/theme", locals: { vehicle: vehicle } %>
        <% end %>
      </article>
  </section>
</div>
