<main>
  <p class="notice"><%= notice %></p>

  <div>
      <%= render "partials/nav" %>
  </div>

  <div class="vehicles">
    <% @vehicles.each do |vehicle| %>
      <%= render partial: "vehicles/theme", locals: { vehicle: vehicle } %> 
    <% end %>
  </div>
  
</main>
