<main class="wrapper">
  <div class="notice">
    <%= notice %> 
    <h1>Reserve vehicle</h1>
  </div>

  <div>
      <%= render "partials/nav" %>
  </div>
  <div id="vehicles">
    <%= render partial: "vehicles/reserve", locals: { user: @user } %> 
  </div>
</main>
