<main class="wrapper">
  <div class="notice">
    <%= notice %> 
    <h1>Reserve vehicle</h1>
  </div>

  <section class="menu">
      <%= render "partials/nav" %>
  </section> 

  <section class="content">
    <%= render partial: "vehicles/reserve", locals: { user: @user } %> 
  </section>
</main>
