* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

nav,
main {
  /* border: 1px solid black; */
}

.notice {
  grid-area: header;
  border:1px solid blue;
} 

nav {
  grid-area: navigation;
}

.vehicles {
  grid-area: vehicles;
  border:1px solid red;
}


main {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav vehicles vehicles"
  ;
}


