* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

nav,
main {
  border: 1px solid black;
}

main {
  display: grid;
  grid-template-columns: [col] 1fr [col] 6fr [col] 2fr [col];
  grid-template-rows: [ro] 10vh [ro];
}
