@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.notice {
  grid-area: header;
} 

nav {
  grid-area: navigation;
  display: flex;
  flex-direction:column
}

nav a {
  text-decoration:none;
  color:black;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

nav ul li a:hover{
  background-color: grey ;
  color:white;
}

nav ul li{
  border-bottom: 1px solid grey;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 200;
}

nav ul {
  margin-top: 40px;
}

.vehicles {
  grid-area: vehicles;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left:1px solid #ccc;
}

.vehicles h1 {
  margin: 40px 0 20px 0;
}


main {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav vehicles vehicles"
  ;
}


